<form method="post" action="/Carrito/Agregar">
  <input type="hidden" name="idProducto" value="@Model.IdProducto" />
  <input type="number" name="cantidad" value="1" min="1" class="border rounded px-2 py-1 w-24" />
  <button class="ml-3 px-4 py-2 rounded bg-black text-white">Agregar al carrito</button>
</form>
