@model TiendaPc.Models.Proveedor
@{
  Layout = "/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
  ViewData["Title"] = "Nuevo proveedor";
}
<h3>Nuevo proveedor</h3>

<form asp-action="Create" method="post" class="mt-3">
  @Html.AntiForgeryToken()
  <partial name="_Form" model="Model" />
  <div class="mt-3">
    <button class="btn btn-dark">Guardar</button>
    <a asp-action="Index" class="btn btn-outline-secondary ms-2">Volver</a>
  </div>
</form>
